
body{
    background-color: #67a6f6;
}
#wrapper{
    width: 1300px;
    margin: auto;
}
#header{
}
#header img{
    width: 1300px;
    height: 230px;
}
#content{
    width: 100%;
    height: auto; 
}
#nav{
    margin-top: 20px; 
    width: 300px;
    float: left;
}
#nav ul{
        margin-top: 20px; 
        width: 300px;
        height: auto;
    }
#nav li{
    font-size: 20px;
}
#main{
    margin-top: 20px;
    float: right;
    width: 1000px;
    height: 1200px; 

}
#footer{
    clear: both;
    float: none;
    width: 100%;
    margin: 0 10%;
    height: 37px;
    padding-top: 120px;
    text-align: center;
}
.small_card{
    margin: 0px;
    width: 100px;
    height: 20px;
}
#nav_ul, #main_title, .small_card, .big_card{
    background-color: white;
}

/*navi*/

ul{padding: 0; margin:0;}

ul li{list-style:none;}
ul li:nth-child(n+1)
{padding: 20px;    background-color: white;}


ul li:nth-child(n+1):hover
{
    background-color: rgba(100,250,0,0.4);
}

/*links*/
a, a:visited
{
    color:black; text-decoration: none; 
}

table a
{
    padding-left: 27px;
    width:auto;
    font-size: 27px;
    background-image: url(/img/Button.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 27px 27px;
}
/*text*/
*{
    font-family: 'Trebushet MS', Helvetica, sans-serif;
}
h1{padding-left: 20px;}
h2{margin-top: 0}
small{color: #227dab; font-weight: bold; font-size: 100%}
#footer, #main_title{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

p{height: 100px; overflow: hidden; text-overflow: clip}

/*tab*/
table{
    border-spacing: 20px;
}

#main_title, .big_card,.small_card, #nav {
    border-bottom: 10px;
    border-bottom-color: #227dab;
    border-bottom-style:solid;
}
/*forms*/
.big_card{
    padding: 0;margin: 0;
}
.big_card img{width: auto; float:none;}
fieldset{border: none;
padding: 30px 20px;}

legend{
    font-size: 16px;
    font-weight: bold;
    padding: 60px, 50px;  
}

input{padding-left: 20px; background-color: #ececec; border-style: none;height: 30px; margin-bottom: 10px;}

